.home {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  margin-top: 70px;
}

.home > img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel{
  height: 430px;
  width: 100%;
}

.home__typical {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home__typical > h1 {
  color: #09294e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 21px;
}

.who__weAreDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.who__weArecontainer {
  background-color: white;
  padding: 10px 20px;
  width: 95%;
  border-radius: 7px;
  box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.05);
}

.who__weArecontainer p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: #09294e;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.who__weArecontainer > p {
  font-size: 17px;
  display: flex;
  align-items: center;
  line-height: 30px;
  padding-bottom: 20px;
}

.whyUs {
  width: 100%;
  background-color: #c59225;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.whyUs__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
}

.whyUs__caption {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.home__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.name__marqueeWrapper{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.name__marquee {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 46, 44);
  width: 90%;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.07);
  color: #fff;
  height: 100px;
}

.name__marquee marquee{
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
}

.faqs{
  padding: 0 20px;
  margin:40px 0 ;
  height: 800px;
}

.faqs__caption{
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 720px) {
  /* .whyUs__cards{
    flex-direction:row ;
    justify-content: center;
 
  } */
}
